<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Aluno</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <header>
        <h1>Excluir Aluno</h1>
    </header>
    <div class="form-container">
        <form action="/excluirAluno" method="POST">
            <label for="id">ID do Aluno:</label>
            <input type="text" id="id" name="id" placeholder="Digite o ID do aluno">
            <button type="submit" class="botao">Excluir</button>
        </form>
        
    </div>
</body>
</html>
